.round {
  position: relative;
  display: flex;
}

.round label {
  margin-left: 2.25rem;
  text-align: justify;
}

.round span {
  background-color: transparent;
  border: 3px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  width: 1.5rem;
  aspect-ratio: 1/1;
  left: 0;
  position: absolute;
  top: 0;
}

.round span:after {
  position: absolute;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  width: 8px;
  left: 4px;
  top: 5px;
  transform: rotate(-45deg);
  opacity: 0;
}

.round span:hover {
  border: 3px solid var(--blue-dark);
}

.round input[type="checkbox"] {
  visibility: hidden; /* hide element */
  position: absolute; /* ignore element width */
}

.round input[type="checkbox"]:checked + span {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.round input[type="checkbox"]:checked + span:after {
  opacity: 1;
}

.round input[type="checkbox"]:checked + span:hover {
  background-color: var(--purple);
  border-color: var(--purple);
}

.striked {
  color: var(--gray-300);
  text-decoration-line: line-through;
}
