.newTask {
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 0.5rem;
  max-width: 46rem;
  margin: -1.825rem auto 0;
}

.newTask input[type="text"] {
  background: var(--gray-500);
  color: var(--gray-300);
  line-height: 1.4rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.newTask button[type="submit"] {
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0 none;
  border-radius: 8px;
  padding: 1rem;

  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newTask button[type="submit"] img {
  width: 1rem;
  height: 1rem;
}
