.noTasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  gap: 1rem;

  max-width: 46rem;
  margin: 0 auto;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  color: var(--gray-300);
}
